<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Get_Contact_Detail_From_PhoneBook.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B3A0E6B71EB33ED600583D3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3A0E6D31EB33ED700583D3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3A0E6DE1EB33ED700583D3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
